body{
	
	color: #fff;
	background-color: #262626
}
#header{
	text-align: center;
	font-family: Georgia;
	font-size: 30px;
	padding: 2%;
	position: absolute;
    left: 0px;
    top: 90px;
    z-index: 0;
}
#short-bio{
	padding: 6em;
	position: absolute;
    left: 0px;
    top: 150px;
    z-index: 0;

	width: 50%;
}

#background-pic{
	background-position: 50% 70%;
	background-image: url("../assets/downtown-LA.jpg");
	
	background-color: #262626;
	height: 80%;
	width: 100%;
	position: absolute;
    left: 0px;
    top: 90px;
    z-index: -1;
}