body{
	font-family: georgia;
	color: #fff;
	background-color: #262626
}


#background-pic{
	background-position: 50% 70%;
	background-image: url("../assets/downtown-LA.jpg");
	
	background-color: #262626;
	height: 80%;
	width: 100%;
	position: absolute;
    left: 0px;
    top: 90px;
    z-index: -1;
}

#header{
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 300%;
	padding: 2%;
	position: absolute;
    left: 0px;
    top: 90px;
    z-index: 0;
}
#short-bio{
	padding: 6em;
	position: absolute;
    left: 0px;
    top: 250px;
    z-index: 0;
    font-size: 150%;
	width: 40%;
}
#experience{
	font-family: georgia;
	padding: 6em;
	position: absolute;
    left: 0px;
    top: 550px;
    z-index: 0;
	width: 50%;
	
	font-size: 130%;
}

#guildhouse-pitch{
	font-family: georgia;
	padding: 6em;
	position: absolute;
    left: 0px;
    top: 830px;
    z-index: 0;
	width: 50%;
	
	font-size: 130%;

}

#contact{
	padding-top: -10px;
	padding: 6em;
	position: absolute;
    left: 0px;
    top: 1100px;
    z-index: 0;
	width: 25%;
	font-size: 120%;
}
p{
	margin: 0;
}

a{
	color: #B1B1B1;
	text-decoration: none;
}
a:visited {
    text-decoration: none;
	color: #B1B1B1;

}